---
  BasedOnStyle: LLVM
  AccessModifierOffset: '-4'
  AlignTrailingComments: 'true'
  AllowAllParametersOfDeclarationOnNextLine: 'false'
  BreakTemplateDeclarations: No
  BreakBeforeBraces: Attach
  ColumnLimit: '100'
  IncludeBlocks: Regroup
  IndentPPDirectives: AfterHash
  IndentWidth: 4
  NamespaceIndentation: None
  BreakBeforeBinaryOperators: All
  BreakBeforeTernaryOperators: true
  Cpp11BracedListStyle: false
  SpaceBeforeCpp11BracedList: true
  PointerAlignment: Left
  PackConstructorInitializers: CurrentLine
...
