use flake

export LLVM_SYMBOLIZER=$(readlink -f "$(command -v llvm-symbolizer)")
export ASAN_OPTIONS=abort_on_error=1:strict_string_checks=1:external_symbolizer_path=$LLVM_SYMBOLIZER
export UBSAN_OPTIONS=print_stacktrace=1:external_symbolizer_path=$LLVM_SYMBOLIZER
export TSAN_OPTIONS=halt_on_error=1:second_deadlock_stack=1:external_symbolizer_path=$LLVM_SYMBOLIZER
